ul {
    list-style-type: none;
}

.listHome {
    display: inline-flex;
    padding-left: 2rem;
    margin-left: 1in;
    font-size: 1.5rem;
}

.linkHome{
    background-color: black;
    color: lavender;
    text-decoration: none;
  }