.card {
  background-color: white;
  width: 40%;
  margin: 3rem auto;
  border-radius: 6px;
  box-shadow: 0 4px 15px rgba(49, 33, 33, 0.2);
  padding: 5px;
}

.image {
  width: 100%;
  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  margin-left: 1px;
  margin-right: 3px;
}

.image img {
  width: 100%;
  object-fit: cover;
}

.content {
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
}

.pl {
  text-align: left;
}
.pr {
  text-align: right;
}

.card h3 {
  font-size: 1.25rem;
  color: #2c292b;
  text-decoration: none;
}

.link {
  background-color: black;
  color: lavender;
  text-decoration: none;
}
