.card {
  background-color: white;
  width: 40%;
  margin: 3rem auto;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(49, 33, 33, 0.2);
  padding: 5px;
}

.card h3 {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.5rem;
  color: #2c292b;
  text-decoration: none;
}

.imageProduct img {
  max-width: 90%;
  height: 500px;
  display: block;
  margin: 0px auto;
  object-fit: contain;
}

.contentProduct {
  text-align: left;
  font-size: 1.2rem;
  margin-left:auto;
  padding: 1rem;
}

.link {
  background-color: black;
  color: lavender;
  text-decoration: none;
}
