header {
  background-color: #282c34;
  height: auto;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: center; */
}

.linkHeader, .linkHeader:visited, .linkHeader:hover, .linkHeader:active {
  color: white;
  text-decoration: none;
}

.linkHeader img {
  height: 50px;
}
